@import "modules/_reset";
@import "modules/_responsive";
@import "modules/_color";
@import "modules/_card";
@import "modules/_button";
@import "modules/_font";
@import "modules/_tab";
@import "modules/_edit-label";
@import "modules/_review";
@import "modules/_follower";
@import "modules/_edit-text-test";
@import "modules/_popup";

$header-profile__image-containerWidth: 140px;
$header-profile__image-containerWidthOffset: 40px;
$header-profile__textColor: #424244;

@media only screen and (min-width: 768px){
    .header{
        position: relative;
        width: 70%;
        margin: 2.5% auto;
    }

    .header-logout{
        width: 100%;
        overflow: auto;

        &__button-logout{
            float: right;
            margin-top: 16px;
            margin-right: 16px;
        }
    }

    .header-cover{
        width: 100%;
        min-height: 200px;
        border-bottom: 1px solid $colorHdrCoverBorder;

        &__button-upload{
            position: relative;
            display: table;
            margin: 0 auto;
        }

        &__button-upload-element{
            display: table-cell;
            vertical-align: middle;

            &--icon{
                padding-right: 16px;
            }
        }
    }

    .header-profile{
        width: 100%;
        min-height: 100%;
        padding-top: 70px;

        &__row{
            display: flex;
            margin-left: ($header-profile__image-containerWidth + $header-profile__image-containerWidthOffset);
            margin-bottom: 10px;
        }

        &__col{
            flex: 1;

            &--center-vertical{
                display: table;
            }
        }

        &__text{
            width: 100%;
            font-size: em(12);
            font-family: $fontRoboto;
            color: $header-profile__textColor;

            &--highlight{
                font-weight: 700;
                font-size: em(17)
            }

            &--icon{
                font-size: em(25);
                margin-right: 16px;
                padding-right: 16px;
            }

            &--center-vertical{
                display: table-cell;
                vertical-align: middle;
            }
        }

        &__image-container{
            position: absolute;
            left: 16px;
            bottom: 16px;
            width: $header-profile__image-containerWidth;
            height: 150px;
            overflow: hidden;

            &--shadow{
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }
        }

        &__image-image{
            float: right;
            margin-right: -26px;
        }
    }

    .header-footer{
        display: flex;
        overflow-x: scroll;
        margin-top: 16px;
        margin-left: ($header-profile__image-containerWidth + $header-profile__image-containerWidthOffset);
        
        &__tab{
            flex: 1;
        }

        &__follower{
        }
    }

    .content{
        position: relative;
        width: 70%;
        margin: 2.5% auto;
        min-height: 600px;
        padding: 50px;

        &__title{
            color: #a5a8ac;
            font-size: em(25);
            margin-bottom: 50px;
        }

        &__content{
            
        }
    }
}
