@import "modules/_color";
@import "modules/_util";

@media only screen and (max-width: 767px){
    .header{
        position: relative;
        width: 100%;

        &__row{
            display: flex;
            margin: 16px 0px;
            align-items: center;
            
            &--align-left{
                justify-content: flex-start;
                margin-left: 16px;
            }

            &--align-center{
                justify-content: center;
            }

            &--align-right{
                justify-content: flex-end;
                margin-right: 16px;
            }
        }

        &__logout{
            font-size: em(12);
            color: $colorPrimary;
            font-weight: 900;
            text-transform: uppercase;
        }

        &__image-container{
            width: 120px;
            height: 120px;
            margin-top: 16px;
            overflow: hidden;

            &--shadow{
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }
        }

        &__image-image{
            float: right;
            margin-right: -26px;
        }

        &__text{
            font-size: em(14);
            color: $colorHdrText;
            font-weight: 200;

            &--highlight{
                font-size: em(20);
                font-weight: 900;
                color: $colorHdrTextHighlight;
            }
        }

        &__icon{
            margin-right: 16px;
            font-size: em(25);
            color: $colorHdrIcon;
        }
    }

    .content{
        min-height: 300px;
        margin-bottom: 30px;
        padding: 24px;

        &--hide{
            display: none;
        }

        &__view{

        }

        &__edit{
            
        }

        &__row{
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            &--no-margin{
                margin-bottom: 0px;
            }
        }

        &__title{
            flex: 1;
            font-size: em(25);
            font-weight: 100;
            color: #a5a8ac;
        }

        &__button{
            text-transform: uppercase;
            color: $colorPrimary;
            margin-right: 25px;

            &--end{
                margin-right: 0px;
            }
        }

        &__text{
            font-size: em(16);
            color: #43464b;

            &--highlight{
                font-size: em(20);
                font-weight: 900;
            }
        }

        &__icon{
            font-size: em(20);
            color: #a8b4c3;
            margin-right: 16px;
        }
    }
}