@import "_color";
@import "_font";
@import "_util";

.button{
    box-sizing: border-box;
    min-width: 88px;
    padding: 8px 16px;
    border-radius: 2px;
    font-weight: 900;
    font-family: $fontRoboto;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: em(13);

    &:hover{
        color: $colorWhite;

        .button__icon{
            color: $colorWhite;
        }
    }

    &:active{
        color: $colorWhite;

        .button__icon{
            color: $colorWhite;
        }
    }

    &--uppercase{
        text-transform: uppercase;
    }

    &--default{
        background-color: $colorWhite;
        border: 1px solid $colorBtnDefault;
        color: $colorBtnDefaultDark;

        &:hover{
            background-color: $colorBtnDefault;
            border: 1px solid $colorBtnDefault;
        }

        &:active{
            background-color: lighten($colorBtnDefault,5);
            border: 1px solid lighten($colorBtnDefault,5);
        }
    }

    &--primary{
        background-color: #FFF;
        border: 1px solid $colorBtnPrimary;
        color: $colorBtnPrimary;

        &:hover{
            background-color: $colorBtnPrimary;
            border: 1px solid $colorBtnPrimary;
        }

        &:active{
            background-color: lighten($colorBtnPrimary,5);
            border: 1px solid lighten($colorBtnPrimary,5);
        }
    }

    &__icon{
        font-size: em(28);
        margin-right: 16px;
        
        &--default{
            color: $colorBtnDefault;
        }

        &--primary{
            color: $colorBtnPrimary;
        }
    }
}