$colorRoot: #f4f8f9;

$colorCard: #fff;

$colorPrimary: #4960e4;
$colorWhite: #FFF;
$colorBlack: #000;

$colorTabBackground: #FFF;
$colorTabSelected: #4960e4;
$colorTabHovered: #979da5;
$colorTabText: #5f6266;

$colorBtnDefault: #dbe2ec;
$colorBtnDefaultDark: #979da5;
$colorBtnPrimary: #4960e4;

$colorEdtLblBg: #f4f4f7;
$colorEdtLblBtnBg: #ebeff4;
$colorEdtLblText: #717475;
$colorEdtLblIcon: #aeb4ba;
$colorEdtLblBtnIcon: #7a8189;

$colorReview: #757c86;

$colorFollowerIcon: #a4acb6;
$colorFollowerText: #797979;
$colorFollowerLabel: #c6c9cd;

$colorEditTextBorderActive: #4960e4;
$colorEditTextBorderInactive: #d7dadd;
$colorEditTextLabelActive: #4960e4;
$colorEditTextLabelInactive: #d7dadd;
$colorEditTextText: #6c6d6f;

$colorPopupBg: white;
$colorPopupArrow: white;

$colorHdrCoverBorder: #dbe2ec;

$colorHdrText: #878b8c;
$colorHdrTextHighlight: #44474c; 
$colorHdrIcon: #878b8c;