@import "_color";
@import "_util";

.edit-label{
    display: inline-flex;
    background-color: $colorEdtLblBg;
    align-items: center;
    margin: 2px 0;

    &__icon{
        font-size: em(20);
        color: $colorEdtLblIcon;
        margin-left: 8px;
        margin-right: 8px;
    }

    &__text{
        font-size: em(13);
        color: $colorEdtLblText;
        margin-left: 8px;
        margin-right: 25px;

        &--highlight{
            font-size: em(17);
            font-weight: 700;
        }
    }

    &__button{
        display:flex;
        width: 40px;
        height: 40px;
        text-align: center;
        flex-direction:column;
        justify-content:space-around;
        margin-left: auto;
        background-color: $colorEdtLblBtnBg;
        color: $colorEdtLblBtnIcon;

        &--small{
            width: 30px;
            height: 30px
        }

        &:hover{
            background-color: $colorPrimary;
            color: $colorWhite;
        }
    }
}