@import "_color";
@import "_util";

.edit-text{
    position: relative; 
    margin-bottom: 45px;
    margin-top: 15px;

    &--no-margin{
        margin-bottom: 0px;
    }

    &--near{
        margin-bottom: 16px;
    }

    &--full-width{
        width: 100%;
    }

    &__text{
        font-size: em(15);
        padding: 10px 10px 10px 5px;
        display: block;
        min-width: 250px;
        color: $colorEditTextText;
        border-bottom: 1px solid $colorEditTextBorderInactive;
        transition: 0.2s ease all; 

        &--full-width{
            width: 100%;
        }

        &:focus{
            outline: none;
            border-bottom: 1px solid $colorEditTextBorderActive;

            ~ .edit-text__label{
                top: -20px;
                font-size: em(12);
                color: $colorEditTextLabelActive;
            }
        }

        &:valid{
            border-bottom: 1px solid $colorEditTextBorderActive;

            ~ .edit-text__label{
                top: -20px;
                font-size: em(12);
                color: $colorEditTextLabelActive;
            }
        }

        &:disabled{
            background: none;
            padding: 0;
            font-size: em(16);
            color: #43464b;
            border-bottom: none;
        }
    } 

    &__label{
        color: $colorEditTextLabelInactive; 
        font-size: em(15);
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        text-transform: uppercase;
    }
}