@import "_color";
@import "_util";

.follower{
    display: inline-flex;
    align-items: center;
    color: $colorReview;

    &--align-left{
        float: left;
        margin-left: 16px;
    }

    &--align-right{
        float: right;
        margin-right: 16px;
    }

    &__icon{
        font-size: em(25);
        margin-right: 18px;
        color: $colorFollowerIcon;

        &--near{
            margin-right: 8px;
        }
    }

    &__text{
        font-size: em(15);
        flex: 1;
        text-align: center;
        margin-right: 8px;
        color: $colorFollowerText;
    }

    &__label{
        font-size: em(13);
        flex: 1;
        text-align: center;
        color: $colorFollowerLabel;

        &--darken{
            color: #878a8d;
        }
    }
}