@import "_color";
@import "_util";
@import "_animation";

.popup{
    position: absolute;
    min-width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: $colorPopupBg;
    padding: 16px;
    display: none;
    animation: fade 0.5s;
    -webkit-animation: fade 0.5s;

    &--open{
        display: block;
    }

    &__row{
        display: flex;
    }

    &__title{

    }

    &__input{
        
    }

    &__button{
        margin-right: 16px;
    }

    &::after{
        content: "";
        position: absolute;
        top: 10%;
        left: 0%;
        margin-left: -30px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent $colorPopupArrow transparent transparent;
    }

}