@import "_color";
@import "_util";

.review{
    display: inline-flex;
    align-items: center;
    color: $colorReview;

    &--align-left{
        float: left;
        margin-left: 16px;
    }

    &--align-right{
        float: right;
        margin-right: 16px;
    }

    &--primary{
        color: $colorPrimary;
    }

    &__star-container{
        display: flex;
        margin-right: 24px;
        flex: 1;
    }

    &__star{
        font-size: em(20);
        margin: 0 4px;
    }

    &__text{
        font-size: em(15);
        flex: 1;
        text-align: center;
        margin-right: 16px;

        &--no-flex{
            flex: none;
        }
    }

    &__label{
        font-size: em(15);
        flex: 1;
        text-align: center;

        &--no-flex{
            flex: none;
        }

        &--lighten{
            color: #7d8083;
        }
    }
}