@import "_color";
@import "_font";
@import "_animation";

.tab{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;

    &--with-background{
        background-color: $colorTabBackground
    }

    &--with-shadow{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    &__item{
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $fontRoboto;
        color: $colorTabText;

        &--selected{
            border-bottom: 2px solid $colorTabSelected;
        }

        &:hover{
            border-bottom: 2px solid lighten($colorTabSelected,20);
        }
    }

    &__content{
        display: none;
        animation: fade 0.5s;
        -webkit-animation: fade 0.5s;
        
        &--selected{
            display: block;
        }
    }
}