<div class="header card card--no-padding">
    <div class="header-logout">
        <button class="header-logout__button-logout button button--primary button--uppercase">LOG OUT</button>
    </div>
    <div class="header-cover">
        <button class="header-cover__button-upload button button--default">
                    <i class="header-cover__button-upload-element header-cover__button-upload-element--icon button__icon button__icon--default ion-ios-camera"></i>
                    <span class="header-cover__button-upload-element">Upload Cover Image</span>
                </button>
        <div class="header-profile">
            <div class="header-profile__image-container header-profile__image-container--shadow">
                <img src="{profileImage}" class="header-profile__image-image" width="250px" height="200px">
            </div>
            <div class="header-profile__row">
                <div class="header-profile__col">
                    <span class="name header-profile__text header-profile__text--highlight">{firstName} {lastName}</span>
                </div>
                <div class="header-profile__col">
                    <div class="review review--align-right">
                        <div class="review__star-container">
                            <span class="review__star ion-ios-star"></span>
                            <span class="review__star ion-ios-star"></span>
                            <span class="review__star ion-ios-star"></span>
                            <span class="review__star ion-ios-star"></span>
                            <span class="review__star ion-ios-star-outline"></span>
                        </div>
                        <span class="review__text">6</span>
                        <span class="review__label">Reviews</span>
                    </div>
                </div>
            </div>
            <div class="header-profile__row">
                <div class="header-profile__col header-profile__col--center-vertical">
                    <i class="header-profile__text--icon header-profile__text--center-vertical ion-ios-location-outline"></i>
                    <span class="address header-profile__text header-profile__text--center-vertical">{address}</span>
                </div>
            </div>
            <div class="header-profile__row">
                <div class="header-profile__col">
                    <i class="header-profile__text--icon header-profile__text--center-vertical ion-ios-telephone-outline"></i>
                    <span class="phone header-profile__text header-profile__text--center-vertical">{phone}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-footer">
        <div class="header-footer__tab">
            <ul class="tab">
                <li class="tab__item tab__item--selected" data-target="tab-desktop-about">about</li>
                <li class="tab__item" data-target="tab-desktop-setting">settings</li>
                <li class="tab__item">option 1</li>
                <li class="tab__item">option 2</li>
                <li class="tab__item">option 3</li>
            </ul>
        </div>
        <div class="header-footer__follower">
            <div class="follower follower--align-right">
                <span class="follower__icon ion-plus-circled"></span>
                <span class="follower__text">15</span>
                <span class="follower__label">Followers</span>
            </div>
        </div>
    </div>
</div>
<div class="content card">
    <div id="tab-desktop-about" class="tab__content tab__content--selected">
        <div class="content__title">About</div>
        <div class="content__content">
            <div class="edit-label">
                <span class="name edit-label__text edit-label__text--highlight">{firstName} {lastName}</span>
                <!--<span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'Full Name', function(){ window.util.updateUI(popup.getPopupInput(), 'name', true) });"></span>-->
                <span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'Full Name', function(){ window.variable.setFullName(popup.getPopupInput()); window.util.updateUI(); });"></span>
            </div>
            <br>
            <div class="edit-label">
                <span class="edit-label__icon ion-android-globe"></span>
                <span class="web edit-label__text">{website}</span>
                <!--<span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'Website', function(){ window.util.updateUI(popup.getPopupInput(), 'web', true) });"></span>-->
                <span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'Website', function(){ window.variable.setWebsite(popup.getPopupInput()); window.util.updateUI(); });"></span>
            </div>
            <br>
            <div class="edit-label">
                <span class="edit-label__icon ion-ios-telephone-outline"></span>
                <span class="phone edit-label__text">{phone}</span>
                <!--<span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'Phone Number', function(){ window.util.updateUI(popup.getPopupInput(), 'phone', true) });"></span>-->
                <span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'Phone Number', function(){ window.variable.setPhone(popup.getPopupInput()); window.util.updateUI(); });"></span>
            </div>
            <br>
            <div class="edit-label">
                <span class="edit-label__icon ion-ios-home-outline"></span>
                <span class="address edit-label__text">{address}</span>
                <!--<span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'City, State & Zip', function(){ window.util.updateUI(popup.getPopupInput(), 'address', true) });"></span>-->
                <span class="edit-label__button ion-edit" onclick="window.popup.openPopup(this, 'City, State & Zip', function(){ window.variable.setAddress(popup.getPopupInput()); window.util.updateUI(); });"></span>
            </div>
            <br>
        </div>
    </div>

    <div id="tab-desktop-setting" class="tab__content">
        <div class="content__title">Settings</div>
    </div>
</div>