<div class="header">
    <div class="header__row header__row--align-right">
        <span class="header__logout">log out</span>
    </div>
    <div class="header__row header__row--align-center">
        <div class="header__image-container header__image-container--shadow">
            <img src="{profileImage}" class="header__image-image" width="250px" height="200px">
        </div>
    </div>
    <div class="header__row header__row--align-center">
        <span class="name header__text header__text--highlight">{firstName} {lastName}</span>
    </div>
    <div class="header__row header__row--align-left">
        <span class="header__icon ion-ios-telephone-outline"></span>
        <span class="phone header__text">{phone}</span>
    </div>
    <div class="header__row header__row--align-left">
        <span class="header__icon ion-ios-location-outline"></span>
        <span class="address header__text">{address}</span>
    </div>
    <div class="header__row header__row--align-left">
        <div class="review__star-container review--primary">
            <span class="review__star ion-ios-star"></span>
            <span class="review__star ion-ios-star"></span>
            <span class="review__star ion-ios-star"></span>
            <span class="review__star ion-ios-star"></span>
            <span class="review__star ion-ios-star-outline"></span>
        </div>
    </div>
    <div class="header__row header__row--align-left">
        <span class="review__text review__text--no-flex">6</span>
        <span class="review__label review__label--no-flex review__label--lighten">Reviews</span>
    </div>
    <div class="header__row header__row--align-left">
        <div class="follower">
            <span class="follower__icon follower__icon--near ion-plus-circled"></span>
            <span class="follower__text">15</span>
            <span class="follower__label follower__label--darken">Followers</span>
        </div>
    </div>
    <div class="header__row">
        <ul class="tab tab--with-background tab--with-shadow">
            <li class="tab__item tab__item--selected" data-target="tab-mobile-about">about</li>
            <li class="tab__item" data-target="tab-mobile-setting">settings</li>
            <li class="tab__item">option 1</li>
            <li class="tab__item">option 2</li>
            <li class="tab__item">option 3</li>
        </ul>
    </div>
</div>
<div class="content card">
    <div id="tab-mobile-about" class="tab__content tab__content--selected">
        <div class="content__row content__row--title">
            <span class="content__title">About</span>
            <span class="content__view edit-label__button edit-label__button--small ion-edit" onclick="window.util.switchProfileEdit()"></span>
            <span class="content__edit content--hide content__button" onclick="window.util.switchProfileView()">Cancel</span>
            <span class="content__edit content--hide content__button content__button--end" onclick="window.util.updateProfile(); window.util.switchProfileView()">Save</span>
        </div>
        <div class="content__row">
            <span class="content__view name content__text content__text--highlight">{firstName} {lastName}</span>
        </div>
        <div class="content__row content__row--no-margin content__edit content--hide">
            <div class="edit-text edit-text--full-width edit-text--near content__edit content--hide">
                <input id="txt-first-name" class="fname edit-text__text edit-text__text--full-width" type="text" value="{firstName}" required/>
                <label class="edit-text__label">First Name</label>
            </div>
        </div>
        <div class="content__row content__row--no-margin content__edit content--hide">
            <div class="edit-text edit-text--full-width edit-text--near content__edit content--hide">
                <input id="txt-last-name" class="lname edit-text__text edit-text__text--full-width" type="text" value="{lastName}" required/>
                <label class="edit-text__label">Last Name</label>
            </div>
        </div>
        <div class="content__row">
            <span class="content__view content__icon ion-android-globe"></span>
            <div class="edit-text edit-text--full-width edit-text--near">
                <input id="txt-website" class="edit-text__text edit-text__text--full-width" disabled type="text" value="{website}" required/>
                <label class="content__edit content--hide edit-text__label">Website</label>
            </div>
        </div>
        <div class="content__row">
            <span class="content__view content__icon ion-ios-telephone-outline"></span>
            <div class="edit-text edit-text--full-width edit-text--near">
                <input id="txt-phone" class="edit-text__text edit-text__text--full-width" disabled type="text" value="{phone}" required/>
                <label class="content__edit content--hide edit-text__label">Phone Number</label>
            </div>
        </div>
        <div class="content__row">
            <span class="content__view content__icon ion-ios-location-outline"></span>
            <div class="edit-text edit-text--full-width edit-text--near">
                <input id="txt-address" class="edit-text__text edit-text__text--full-width" disabled type="text" value="{address}" required/>
                <label class="content__edit content--hide edit-text__label">City, State & Zip</label>
            </div>
        </div>
    </div>
    <div id="tab-mobile-setting" class="tab__content">
        <div class="content__row content__row--title">
            <span class="content__title">Settings</span>
        </div>
    </div>
</div>