@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.root {
  background-color: #f4f8f9;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-family: "Roboto", sans-serif; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button, submit {
  border: none;
  outline: none; }

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }

::-webkit-scrollbar {
  display: none; }

.mobile {
  display: block; }

.desktop {
  display: none; }

@media only screen and (min-width: 768px) {
  .mobile {
    display: none; }
  .desktop {
    display: block; } }

.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  padding: 16px; }
  .card--no-padding {
    padding: 0px; }

.button {
  box-sizing: border-box;
  min-width: 88px;
  padding: 8px 16px;
  border-radius: 2px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8125em; }
  .button:hover {
    color: #FFF; }
    .button:hover .button__icon {
      color: #FFF; }
  .button:active {
    color: #FFF; }
    .button:active .button__icon {
      color: #FFF; }
  .button--uppercase {
    text-transform: uppercase; }
  .button--default {
    background-color: #FFF;
    border: 1px solid #dbe2ec;
    color: #979da5; }
    .button--default:hover {
      background-color: #dbe2ec;
      border: 1px solid #dbe2ec; }
    .button--default:active {
      background-color: #eceff5;
      border: 1px solid #eceff5; }
  .button--primary {
    background-color: #FFF;
    border: 1px solid #4960e4;
    color: #4960e4; }
    .button--primary:hover {
      background-color: #4960e4;
      border: 1px solid #4960e4; }
    .button--primary:active {
      background-color: #5f73e7;
      border: 1px solid #5f73e7; }
  .button__icon {
    font-size: 1.75em;
    margin-right: 16px; }
    .button__icon--default {
      color: #dbe2ec; }
    .button__icon--primary {
      color: #4960e4; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.tab {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap; }
  .tab--with-background {
    background-color: #FFF; }
  .tab--with-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .tab__item {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #5f6266; }
    .tab__item--selected {
      border-bottom: 2px solid #4960e4; }
    .tab__item:hover {
      border-bottom: 2px solid #a2aef1; }
  .tab__content {
    display: none;
    animation: fade 0.5s;
    -webkit-animation: fade 0.5s; }
    .tab__content--selected {
      display: block; }

.edit-label {
  display: inline-flex;
  background-color: #f4f4f7;
  align-items: center;
  margin: 2px 0; }
  .edit-label__icon {
    font-size: 1.25em;
    color: #aeb4ba;
    margin-left: 8px;
    margin-right: 8px; }
  .edit-label__text {
    font-size: 0.8125em;
    color: #717475;
    margin-left: 8px;
    margin-right: 25px; }
    .edit-label__text--highlight {
      font-size: 1.0625em;
      font-weight: 700; }
  .edit-label__button {
    display: flex;
    width: 40px;
    height: 40px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    background-color: #ebeff4;
    color: #7a8189; }
    .edit-label__button--small {
      width: 30px;
      height: 30px; }
    .edit-label__button:hover {
      background-color: #4960e4;
      color: #FFF; }

.review {
  display: inline-flex;
  align-items: center;
  color: #757c86; }
  .review--align-left {
    float: left;
    margin-left: 16px; }
  .review--align-right {
    float: right;
    margin-right: 16px; }
  .review--primary {
    color: #4960e4; }
  .review__star-container {
    display: flex;
    margin-right: 24px;
    flex: 1; }
  .review__star {
    font-size: 1.25em;
    margin: 0 4px; }
  .review__text {
    font-size: 0.9375em;
    flex: 1;
    text-align: center;
    margin-right: 16px; }
    .review__text--no-flex {
      flex: none; }
  .review__label {
    font-size: 0.9375em;
    flex: 1;
    text-align: center; }
    .review__label--no-flex {
      flex: none; }
    .review__label--lighten {
      color: #7d8083; }

.follower {
  display: inline-flex;
  align-items: center;
  color: #757c86; }
  .follower--align-left {
    float: left;
    margin-left: 16px; }
  .follower--align-right {
    float: right;
    margin-right: 16px; }
  .follower__icon {
    font-size: 1.5625em;
    margin-right: 18px;
    color: #a4acb6; }
    .follower__icon--near {
      margin-right: 8px; }
  .follower__text {
    font-size: 0.9375em;
    flex: 1;
    text-align: center;
    margin-right: 8px;
    color: #797979; }
  .follower__label {
    font-size: 0.8125em;
    flex: 1;
    text-align: center;
    color: #c6c9cd; }
    .follower__label--darken {
      color: #878a8d; }

.edit-text {
  position: relative;
  margin-bottom: 45px;
  margin-top: 15px; }
  .edit-text--no-margin {
    margin-bottom: 0px; }
  .edit-text--near {
    margin-bottom: 16px; }
  .edit-text--full-width {
    width: 100%; }
  .edit-text__text {
    font-size: 0.9375em;
    padding: 10px 10px 10px 5px;
    display: block;
    min-width: 250px;
    color: #6c6d6f;
    border-bottom: 1px solid #d7dadd;
    transition: 0.2s ease all; }
    .edit-text__text--full-width {
      width: 100%; }
    .edit-text__text:focus {
      outline: none;
      border-bottom: 1px solid #4960e4; }
      .edit-text__text:focus ~ .edit-text__label {
        top: -20px;
        font-size: 0.75em;
        color: #4960e4; }
    .edit-text__text:valid {
      border-bottom: 1px solid #4960e4; }
      .edit-text__text:valid ~ .edit-text__label {
        top: -20px;
        font-size: 0.75em;
        color: #4960e4; }
    .edit-text__text:disabled {
      background: none;
      padding: 0;
      font-size: 1em;
      color: #43464b;
      border-bottom: none; }
  .edit-text__label {
    color: #d7dadd;
    font-size: 0.9375em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    text-transform: uppercase; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.popup {
  position: absolute;
  min-width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 16px;
  display: none;
  animation: fade 0.5s;
  -webkit-animation: fade 0.5s; }
  .popup--open {
    display: block; }
  .popup__row {
    display: flex; }
  .popup__button {
    margin-right: 16px; }
  .popup::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0%;
    margin-left: -30px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent white transparent transparent; }

@media only screen and (min-width: 768px) {
  .header {
    position: relative;
    width: 70%;
    margin: 2.5% auto; }
  .header-logout {
    width: 100%;
    overflow: auto; }
    .header-logout__button-logout {
      float: right;
      margin-top: 16px;
      margin-right: 16px; }
  .header-cover {
    width: 100%;
    min-height: 200px;
    border-bottom: 1px solid #dbe2ec; }
    .header-cover__button-upload {
      position: relative;
      display: table;
      margin: 0 auto; }
    .header-cover__button-upload-element {
      display: table-cell;
      vertical-align: middle; }
      .header-cover__button-upload-element--icon {
        padding-right: 16px; }
  .header-profile {
    width: 100%;
    min-height: 100%;
    padding-top: 70px; }
    .header-profile__row {
      display: flex;
      margin-left: 180px;
      margin-bottom: 10px; }
    .header-profile__col {
      flex: 1; }
      .header-profile__col--center-vertical {
        display: table; }
    .header-profile__text {
      width: 100%;
      font-size: 0.75em;
      font-family: "Roboto", sans-serif;
      color: #424244; }
      .header-profile__text--highlight {
        font-weight: 700;
        font-size: 1.0625em; }
      .header-profile__text--icon {
        font-size: 1.5625em;
        margin-right: 16px;
        padding-right: 16px; }
      .header-profile__text--center-vertical {
        display: table-cell;
        vertical-align: middle; }
    .header-profile__image-container {
      position: absolute;
      left: 16px;
      bottom: 16px;
      width: 140px;
      height: 150px;
      overflow: hidden; }
      .header-profile__image-container--shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .header-profile__image-image {
      float: right;
      margin-right: -26px; }
  .header-footer {
    display: flex;
    overflow-x: scroll;
    margin-top: 16px;
    margin-left: 180px; }
    .header-footer__tab {
      flex: 1; }
  .content {
    position: relative;
    width: 70%;
    margin: 2.5% auto;
    min-height: 600px;
    padding: 50px; }
    .content__title {
      color: #a5a8ac;
      font-size: 1.5625em;
      margin-bottom: 50px; } }

@media only screen and (max-width: 767px) {
  .header {
    position: relative;
    width: 100%; }
    .header__row {
      display: flex;
      margin: 16px 0px;
      align-items: center; }
      .header__row--align-left {
        justify-content: flex-start;
        margin-left: 16px; }
      .header__row--align-center {
        justify-content: center; }
      .header__row--align-right {
        justify-content: flex-end;
        margin-right: 16px; }
    .header__logout {
      font-size: 0.75em;
      color: #4960e4;
      font-weight: 900;
      text-transform: uppercase; }
    .header__image-container {
      width: 120px;
      height: 120px;
      margin-top: 16px;
      overflow: hidden; }
      .header__image-container--shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .header__image-image {
      float: right;
      margin-right: -26px; }
    .header__text {
      font-size: 0.875em;
      color: #878b8c;
      font-weight: 200; }
      .header__text--highlight {
        font-size: 1.25em;
        font-weight: 900;
        color: #44474c; }
    .header__icon {
      margin-right: 16px;
      font-size: 1.5625em;
      color: #878b8c; }
  .content {
    min-height: 300px;
    margin-bottom: 30px;
    padding: 24px; }
    .content--hide {
      display: none; }
    .content__row {
      display: flex;
      align-items: center;
      margin-bottom: 25px; }
      .content__row--no-margin {
        margin-bottom: 0px; }
    .content__title {
      flex: 1;
      font-size: 1.5625em;
      font-weight: 100;
      color: #a5a8ac; }
    .content__button {
      text-transform: uppercase;
      color: #4960e4;
      margin-right: 25px; }
      .content__button--end {
        margin-right: 0px; }
    .content__text {
      font-size: 1em;
      color: #43464b; }
      .content__text--highlight {
        font-size: 1.25em;
        font-weight: 900; }
    .content__icon {
      font-size: 1.25em;
      color: #a8b4c3;
      margin-right: 16px; } }
